@import url('fonts/font-awesome.css');
*{
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #405060;
	font-family: sans-serif;
	white-space: pre-line;
}
a{
	text-decoration: none;
	color: black;

}
html,
body,
#root{
	height: 100vh;
}
